body{
  background-image: url(nat.jpg);
  background-position: fixed;
  margin: 0%;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.sec{
  margin-top: 10%;
}
.man{
  display: flex;
  flex-direction: column;
  gap: 2%;

}
.main{
  font-family: 'Lucida Sans';
  display: flex;
}
.img{
  border-radius: 10%;
  height: 50%;
  margin-left: 30%;
  transition: transform 0.15s, box-shadow 0.15s;
}
.img:hover{
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.img1{
  margin-top: 5%;
  border-radius: 10%;
  height: 35%;
  width: 29%;
  margin-left: 35%;
  transition: transform 0.15s, box-shadow 0.15s;
}
.img1:hover{
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.img2{
  height: 20%;
  width: 20%;
 transition: transform 0.15s, box-shadow 0.15s; 
}
.img2:hover{
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.nav1{
  margin-top: 0%;
  display: flex;
  gap: 50%;
  background-color: rgba(0, 191, 255, 0.166);
  padding-right: 25%;
}
.nav{
  font-family: 'Lucida Sans';
  display: flex;
  list-style: none;
  text-decoration: none;
  object-position: fixed;
  gap: 15%;
  font-size: 120%;
  text-align: center;
  padding-right: 0%;
  padding-left: 10%;
  color: white;
  font-weight: bold;   
}
.al:hover{
  color: rgba(30, 216, 241, 0.822);
  background-color: white;
}
.al:active{
  color: rgba(30, 216, 241, 0.266);
}
.abt{
  font-family: 'Lucida Sans';
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 15%;
  margin-left: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.353);
  color: rgb(0, 145, 255);
}
.tt{
  text-align: center;
  color: rgb(0, 145, 255);
}
.hed{
  font-family: 'Lucida Sans';
  color: rgb(0, 145, 255);
}
.txtsec{
  margin-right: 5%;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 50%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.262);
  border-radius: 5%;
  color: rgb(0, 145, 255);
}
.otd{
  margin-top: -10%;
  margin-bottom: 10%;
  font-family: 'Lucida Sans';
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  border-radius: 2%;
  background-color: rgba(255, 255, 255, 0.182);
  color: rgb(0, 145, 255);
}
.foot{
  background-color: rgb(0, 145, 255);
  text-align: center;
  padding-left: 2%;
}
.ftext{
  list-style: none;
  text-align: left;
}